!!!
html(ng-app="whatdo")
  head
    meta(charset='utf8')
    base(href='/')
    title Whatdo
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Sacramento')
    link(rel='stylesheet', href='/css/foundation.min.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='js/lib/modernizr/modernizr.foundation.js')
  body
  #brand
    .row
      h2 What do?
  block body