<div class="container-fluid">
	<h1>What do?</h1>
	
	<div class="bar">
			<button>Add project</button>
			Switch project
			<select ng-model="myprojects"  ng-options="project.name for project in projects" ng-change="updateLists(myprojects)" required></select>
	</div>

	<div class="row">
		<form class="whatdo-form span3" ng-submit="save()">
			<label>Description</label>
			<textarea ng-model="tododescription" required></textarea>
			
			<label>Requester</label>
			<select ng-model="todochecker" ng-options="user.name for user in users" required></select>
			
			<div class="buttons">
				<label>Responsable</label>
				<select ng-model="todoresponsable" ng-options="user.name for user in users" required></select>
				<div class="buttons">
					<input type="submit" class="btn btn-primary" value="Save"/>
				</div>
			</div>
		</form>

		<div class='whatdo-list span5'>
			<input ng-model="query"  placeholder="Search"/>

			<div>Todos : <span>{{remaining()}}</span> of {{todos.length}}</div>
			<ul>
				<li ng-repeat="todo in todos | filter:query" class="todo-{{todo.status}}" ng-class-odd="'odd'" ng-class-even="'even'" >
					<input type="button" ng-hide="todo.status=='revision' || todo.status=='accepted'" ng-click="updateTodo($index,todo.id)" value="{{todo.status | buttonlegend }}"> 
					<input type="button" ng-show="todo.status=='revision'" ng-click="updateTodo($index,todo.id,'accepted')" value="accept"> 
					<input type="button" ng-show="todo.status=='revision'" ng-click="updateTodo($index,todo.id,'rejected')" value="reject"> 

					<span>{{todo.description}}</span>
					<span class='responsable'>{{todo.responsable}}</span>
					<span class='checker'>{{todo.checker}}</span>

				</li>
			</ul>
		</div> 

	<div class='whatdo-prevlist span5'>
			<ul>
				<li ng-repeat="listed in todosaccepted" ng-click="show = !show" ng-init="show=0">
					<span>{{listed.label}}</span> <span>{{(listed.todos).length}}</span>
					<ul ng-show="show">
						<li ng-repeat="todo in listed.todos" class="todo-{{todo.status}}"  >
								<span>{{todo.description}}</span>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

</div>